body {
    font-family: 'Montserrat', sans-serif;
}
.container {
    max-width: 1141px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
  
}
.container-header {
    max-width: 1141px;
    margin: 0 auto;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-item {
    display: flex;
    align-items: center;
    flex-basis: 57.9%;
    justify-content: space-between;
}
.header-logo {
    display: block;
    background-image: url(../img/logo.svg);
    width: 92px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-nav {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    gap: 54px;
}
.header-nav a {
    font-weight: 400;
    font-size: 18px;
    color: #2B3541;
    text-decoration: none;
}
.header-nav a:hover {
    text-decoration: underline;
    color: #2B3541;;
}
.header-list {
    display: flex;
    list-style-type: none;
    padding-left: 0;
}
.header-list-item {
    margin-left: 30px;
    color:#2B3541;
}
.header-list-link1 {
    display: block;
    background-image: url(../img/IN.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    transition: 0.3s;
    transform: scale(1);
    opacity: 0.8;
}
.header-list-link2 {
    display: block;
    background-image: url(../img/FB.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    transition: 0.3s;
    transform: scale(1);
    opacity: 0.8;
}
.header-list-item a:hover {
    transform: scale(1.2);
    opacity: 1;
}
.container {
    max-width: 1141px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
  
}
.banner__box {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.banner__content {
    width: 676px;
    height: 385px;
    margin-top: 228px;
}
.banner-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2B3541;
    margin-bottom: 40px;
}
.banner-subtitle {
    width: 327px;
    height: 50px;
    font-weight: 400;
    font-size: 40px;
    line-height: 125%;
    color: #2B3541;
    margin-bottom: 20px;
}
.content-holder {
    margin-left: 95px;
}
.banner-text {
    max-width: 300px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2B3541;
    margin-bottom: 37px;
}
.banner-button {
    text-decoration: none;
    padding: 20px 30px;
    background: #FBF138;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2B3541;
}
.banner-button:hover {
    background: #2B3541;
    color: #FBF138;
}
.banner__arrow {
    display: block;
    margin-top: 91px;
    width: 52px;
    height: 55px;
    background-image: url(../img/arrow.svg);
    background-repeat: no-repeat;
    background-position: center center;
}
.banner__image-box {
    position: relative;
    height: 743px;
}

.banner__image {
    position: absolute;
    display: block;
    width: 47vw;
    height: 100%;
    object-fit: contain;
    left: -40%;
}

/* event */

.event {
    margin-top: 160px;
}
.section-title {
    max-width: 470px;;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.3;
    margin-left: -3px;
    letter-spacing: 0.09px;
    margin-bottom: 39px;
    color: #2B3541;
}
.events-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 600px;
    gap: 20px;
    position: relative;
}
.events-grid__item {
    position: relative;
}
.gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(180deg, rgba(251, 241, 56, .3) 0%, rgba(253, 249, 182, 0) 100%);   
 }  
.events-grid__cover:hover .gradient{
    background: linear-gradient(180deg, rgba(251, 241, 56, .6) 0%, rgba(253, 249, 182, 0) 100%);  
 }
.events-grid__cover {
    overflow: hidden;
}
.marathon {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-image:url(../img/maraphon.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.events__time {
    font-family: 'Montserrat', sans-serif;
   
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    color: #2B3541;
    opacity: 0.6;
}
.events-grid__table {
    padding: 30px;
}
.events__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 28px;
    line-height: 125%;
    color: #2B3541;
}
.events-grid-text {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: end;
    bottom: 0;
    align-items: end;
}
.events-image {
    width: 30px;
    height: 30px;
    background-image: url(../images/icon/addplus.svg);
    background-repeat: no-repeat;
    display: none;
}
.events-text{
    margin: 0;
    right: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #2B3541;
    padding: 11px 21px;
    background: #FBF138;
}
.open-modal {
    position: absolute;
    top: 185px;
    left: 30px;
    opacity: 0;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FBF138;
    background: #2B3541;
    box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.28);
    padding: 20px 37px;
    transition: all .5s ease;
}
.events-grid__item:hover .open-modal {  
    opacity: 1;
    cursor: pointer;
    z-index: 1;
    transition: all .5s ease;    
}
.marathon2 {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-image: url(../img/Vebinar\ 1.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.marathon3 {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-image: url(../img/Vebinar\ 2.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.schedule {
    margin-top: 125px;
}
.schedule-caption {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.section-title-subtitle {
    font-weight: 700;
    font-size: 28px;
    line-height: 125%;
    color: #2B3541;
}
.schedule-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px 40px 71px 284px;
    gap: 20px;
    position: relative;
}
.schedule-grid__item {
    position: relative;
    border: 1px solid rgba(43, 53, 65, .5);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.schedule-grid__item:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 3; 
 }
.schedule-grid__item:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
 }
 .schedule-grid__item:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
 }
 .schedule-grid__item:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
 }
 .schedule-grid__item:nth-child(5) {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
 }
 .schedule-grid__item:nth-child(6) {
    grid-column: 3 / 4;
    grid-row: 3 / 5;
 }
.schedule-grid__item::after {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 100%);
    opacity: 0;
    transition: all ease .3s;
}
.schedule-grid__item:hover:after {
    opacity: 1;
}
.schedule-grid__table {
    position: relative;
    z-index: 1;
}
.schedule__time {
    position: relative;
    z-index: 1;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2B3541;
   text-align: end;
}
span {
    display: block;
}
.schedule__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;
    color: #2B3541;
}
.enroll {
    /* background: #F3F3F3; */
    margin-top: 100px;
}
.container-enroll {
    text-align: center;
    padding-top: 62px;
    padding-bottom: 80px;
    background: #F3F3F3;
    /* margin-top: 100px; */
}
.enroll-content {
    max-width: 645px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.enroll-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: #2B3541;
    z-index: 1;
    position: relative;
}
.enroll-title::before {
    content: '';
    width: 53px;
    height: 53px;
    border-radius: 50%;
    background: #FBF138;
    box-shadow: 0px 13px 24px rgb(251 241 56 / 30%);
    position: absolute;
    left: 3px;
    top: -21px;
    z-index: -1;
}
.enroll-form-body {
    display: flex;
    gap: 20px;
}
.email {
    width: 372px;
    height: 65px;
    padding-left: 10px;
    background: #FFFFFF;
    border-style: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2B3541;
}
.email::placeholder {
    opacity: .3;
}
.email:focus {
    border-color: #FBF138;
}
.email:invalid {
    border-color: #AE0303;
}
.enroll-button {
    width: 225px;
    height: 65px;
    background: #FBF138;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.2);
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2B3541;
    border-style: none;
}
.enroll-button:hover {
    background: #2B3541;
    color: #FBF138;
}
.agreement {
    max-width: 304px;
    font-weight: 400;
    font-size: 11px;
    line-height: 150%;
    color: #2B3541;
    margin-top: 10px;
}
.checkbox:checked,
.checkbox:not(:checked){
   position: absolute;
   left:-9999px;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label{
   position: relative;
   padding-left: 35px;
   cursor:pointer;
}
/* Стили для псевдоэлемента before с фоном и обводкой, когда пункт активен */
.checkbox:checked + label::before{
   content:'';
   position: absolute;
   width: 16px;
   height: 16px;
   left:0;
   top:calc(50% - 10px);
   background-color: #2B3541;
   border-radius: 2px;
   border: 2px solid #2B3541;
}
/* Стили для псевдоэлемента after с изображением, когда пункт активен */
.checkbox:checked + label::after{
   content:'';
   position: absolute;
   width: 12px;
   height: 12px;
   transition: all .2s ease;
   opacity: 1;
   left: 4px;
   top: calc(50% - 6px);
   background-size: cover;
   background-repeat: no-repeat;
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/White_check.svg/2048px-White_check.svg.png);
}
/* Стили для псевдоэлемента before с фоном и обводкой, когда пункт НЕ активен */
.checkbox:not(:checked) + label::before{
   content:'';
   position: absolute;
   width: 16px;
   height: 16px;
   left:0;
   top:calc(50% - 10px);
   background-color: transparent;
   border-radius: 2px;
   border: 2px solid #2B3541;
}
/* Стили для псевдоэлемента after с изображением, когда пункт НЕ активен */
.checkbox:not(:checked) + label::after{
   content:'';
   position: absolute;
   width: 12px;
   height: 12px;
   transition: all .2s ease;
   opacity: 0;
   left: 4px;
   top: calc(50% - 6px);
   background-position: 0 -12px;
   background-color: transparent;
   background-repeat: no-repeat;
   background-size: cover;
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/White_check.svg/2048px-White_check.svg.png);
}
.radio:checked + label::before{
   border-radius: 100%;
}
.blank {
    color: #2B3541;
}
.blank:hover {
    color: rgba(43, 53, 65, 0.5);
}
.preview {
    margin-top: 160px;
}
.company {
    display: flex;
    gap: 77px;
}
.desc {
    width: 483px;
}
.desc-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    color: #2B3541;
}
.desc-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2B3541;
}
.desc-button {
    width: 225px;
    height: 65px;
    background: #FBF138;
    border-style: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2B3541;
}
.desc-button:hover {
    background: #2B3541;
    color: #FBF138;
}
.company-two {
    display: flex;
    gap: 67px;
    margin-top: 55px;
}
.company-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;
    color: #2B3541;
}
.company-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2B3541;
    opacity: 0.6;
}
.footer {
    background: #F3F3F3;
    height: 149px;
    margin-top: 170px;
}
.footer-item {
    display: flex;
    align-items: center;
    flex-basis: 57.9%;
    justify-content: space-between;
    padding-top: 35px;
}
.footer-logo {
    display: block;
    background-image: url(../img/logo.svg);
    width: 92px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 72px;
}
.footer-nav {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    gap: 90px;
    margin-right: 150px;
}
.footer-nav a {
    font-weight: 400;
    font-size: 14px;
    color: #2B3541;
    text-decoration: none;
}
.footer-nav a:hover {
    text-decoration: underline;
    color: #2B3541;;
}
.footer-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #2B3541;
    position: relative;
    z-index: 1;
}
.footer-text::before {
    content: '';
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #FBF138;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
    position: absolute;
    left: -13px;
    top: -7px;
    z-index: -1;
}
.footer-list {
    display: flex;
    list-style-type: none;
    padding-left: 0;
}
.footer-list-item {
    margin-left: 30px;
    color:#2B3541;
}
.footer-list-link1 {
    display: block;
    background-image: url(../img/IN.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 27px;
    height: 27px;
    transition: 0.3s;
    transform: scale(1);
    opacity: 0.8;
}
.footer-list-link2 {
    display: block;
    background-image: url(../img/FB.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 27px;
    height: 27px;
    transition: 0.3s;
    transform: scale(1);
    opacity: 0.8;
}
.footer-list-item a:hover {
    transform: scale(1.2);
    opacity: 1;
}
.footer-item2 {
    display: flex;
    justify-content: space-between;
}
.footer-copyright {
    font-weight: 400;
    font-size: 14px;
    color: #2B3541;
    opacity: 0.3;
}
.footer-copyright2 {
    font-weight: 400;
    font-size: 14px;
    color: #2B3541;
    opacity: 0.3;
}
.copyright-link {
    color: #2B3541;
}
.copyright-link:hover {
    color: rgba(43, 53, 65, 0.5);
}

/* Modal */

.burger {
    width: 34px;
    height: 22px;
    background-image: url(../img/burger\ 1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.modal {
    background-color: #F3F3F3;
    max-width: 587px;
    text-align: center;
    position: absolute;
    top: -600px;
    left: 0;
    right: 0;
    margin: 20px auto 0;
    padding: 29px 10px;
    box-sizing: border-box;
    transition: .5s;
    width: 587px;
    height: 462px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.modal .header-nav {
    flex-direction: column;
    text-align: left;
    gap: 20px;
    margin: 0;
    flex-grow: 1;
}
.header-modal__box {
    display: flex;
    justify-content: space-between;
}
.hr-burger {
    color: #2B3541;
    opacity: 0.2;
}
.modal-list {
    display: flex;
    list-style-type: none;
    justify-content: end;
}
.modal-list-item {
    margin-left: 20px;
    color:#2B3541;
}
.modal-list-link1 {
    display: block;
    background-image: url(../img/IN.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
    transition: 0.3s;
    transform: scale(1);
    opacity: 0.8;
}
.modal-list-link2 {
    display: block;
    background-image: url(../img/FB.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
    transition: 0.3s;
    transform: scale(1);
    opacity: 0.8;
}
.modal-list-item a:hover {
    transform: scale(1.2);
    opacity: 1;
}
.logo-burger {
    background-image: url(../img/logo-bur.png);
    width: 78px;
    height: 24px;
    display: block;
}
.burger-close {
    width: 20px;
    height: 19px;
    background-image: url(../img/close.png);
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}

/* Responsive */

@media (max-width: 1021px) {

}
@media (max-width: 976px) {
    .desc-title {
        font-size: 26px;
        line-height: 32px;
    }
}
@media (min-width: 769px) {
    .header-burger {
        display: none;
    }
}
@media (max-width: 768px) {
    .header-menu {
        display: none;
    }
    .header {
        gap: 21px;
    }
    .header-item {
        flex-basis: 23.9%;
    }
    .header-logo {
        width: 78px;
        height: 24px;
    }
    .header-list-item {
        margin-left: 20px;
    }
    .header-list-link1 {
        width: 26px;
        height: 26px;
    }
    .header-list-link2 {
        width: 26px;
        height: 26px;
    }
    .event {
        width: 748px;
        height: 709px;
        margin-top: 125px;
    }
    .section-title {
        font-size: 26px;
        line-height: 125%;
    }
    .events-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "a b" "c c";
        grid-template-rows: 309px;
        gap: 20px;
    }
    .marathon:nth-child(1) {
        grid-area: a;
    }
    .marathon2:nth-child(2) {
        grid-area: b;
    }
    .marathon3:nth-child(3) {
        grid-area: c;
    }
    .marathon {
        width: 364px;
        height: 309px;
    }
    .marathon2 {
        width: 364px;
        height: 309px;
    }
    .marathon3 {
        width: 748px;
        height: 336px;
    }
    .events__time {
        font-size: 12px;
        line-height: 100%;
    }
    .events__title {
        font-size: 16px;
        line-height: 120%;
    }
    .events-grid-text {
        justify-content: start;
    }
    .events-image {
        
    }
    .events-text {
        font-size: 12px;
        padding: 6px 15px;
    }
    .open-modal {
        display: none;
    }
    .schedule {
        margin-top: 101px;
    }
    .section-title-subtitle {
        font-size: 16px;
        line-height: 120%;
        opacity: 0.7;
    }
    .schedule-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: none;
    }
    .schedule-grid__item {
        
    }
    .desc-title {
        font-size: 26px;
        line-height: 32px;
    }
    .desc-text {
        font-size: 16px;
    }
    .company-imges {
        width: 372.85px;
        height: 237px;
    }
    .desc-button {
        width: 214px;
        height: 65px;
    }
    .company-two {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 14px;
    }
    .company-title {
        font-size: 16px;
        line-height: 120%;
    }
    .company-text {
        font-size: 16px;
    }
    .footer {
        height: 280px;
        margin-top: 94px;
    }
    .footer-item {
        padding-top: 56px;
        display: none;
    }
}